.idea/
# IDE
.vscode/
nbproject/
.DS_STORE
/coverage/
# Vendor
/vendor/
# Logs
/logs/*
!/logs/README.md
# Cache
/var/cache/*
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock