{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Slim! {{ name }}</h1>
<p>
    Congratulations! Your new Slim Framework application is running. If this is
    your first time using Slim, start with this <a href="http://docs.slimframework.com/#Hello-World" target="_blank">"Hello World" Tutorial</a>.
</p>
<section>
    <h2>Get Started</h2>
    <ol>
        <li>The application code is in <code>index.php</code></li>
        <li>Read the <a href="http://docs.slimframework.com/" target="_blank">online documentation</a></li>
        <li>Follow <a href="http://www.twitter.com/slimphp" target="_blank">@slimphp</a> on Twitter</li>
    </ol>
</section>
<section>
    <h2>Slim Framework Community</h2>

    <h3>Support Forum and Knowledge Base</h3>
    <p>
        Visit the <a href="http://help.slimframework.com" target="_blank">Slim support forum and knowledge base</a>
        to read announcements, chat with fellow Slim users, ask questions, help others, or show off your cool
        Slim Framework apps.
    </p>

    <h3>Twitter</h3>
    <p>
        Follow <a href="http://www.twitter.com/slimphp" target="_blank">@slimphp</a> on Twitter to receive the very latest news
        and updates about the framework.
    </p>

    <h3>IRC</h3>
    <p>
        Find Josh Lockhart in the irc.freenode.net "##slim" IRC channel during the day. Say hi, ask questions,
        or just hang out with fellow Slim users.
    </p>
</section>
<section style="padding-bottom: 20px">
    <h2>Slim Framework Views</h2>
    <p>
        Custom View classes for Smarty and Twig are available online 
        in a separate repository.
    </p>
    <p><a href="https://github.com/codeguy/Slim-Views" target="_blank">Browse the Views Repository</a></p>
</section>
{% endblock content %}